footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.logotipo {
   width: 100%;
   text-align: center;
   font-size: 0.7em;
}
.logotipo img {
   width: 20%;
   vertical-align: middle;
}
.redes {
   width: 100%;
   text-align: center;
}
.redes img {
   width: 18%;
}
.redes ul li {
   text-transform: uppercase;
   list-style-type: none;
   display: inline;
}
@media only screen and (min-width: 450px)
and (max-width: 769px){
   footer {
       clear: both;
       width: 100%;
    }
    .logotipo {
        width: 50%;
        float: left;
        text-align: left;
    }
    .redes {
        width: 50%;
        float: right;
    }
}
@media only screen and (min-width: 769px) {
   footer {
       width: 100%;
       clear: both;
       margin-bottom: 3%;
   }
   .logotipo {
       font-size: 1em;
       width: 45%;
       float: left;
       text-align: center;
    }
    .logotipo img, .redes img {
        width: 10%;
    }
    .redes {
        width: 45%;
        float: right;
        margin-right: 1%;
        text-align: center;
    }
}

.sla {
    position: relative;
    margin: 0px 0px 0px;
    background: green;
}


.col-md-4 {
    margin-top: 20px;
    margin-bottom: 20px;
  
}

.navbar{
    color: aquamarine;
}

.col-md-6{
    top:30px;
}

.galeria img{
    border-radius: 30px;
    transition: 0.6s;
}
.galeria img:hover{
    transform: scale(1.1);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.877); 
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgb(51, 238, 113); 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(80, 136, 34); 
}

h1{
    color:green;
    font-family: fantasy;
}

p{
    font-family:cursive
}

.sla p {
    color:black;
}

.sla label{
    color:black;
}

.sla button{
    color:black;
}

.botao {
    color: white;
    background: blue;
    transition: background 1s;
  }
  
  .botao:hover,
  .botao:focus {
    background: red;
  }

.oi img{
    border-radius: 30px;
}